<!DOCTYPE html>
<html>

<head>
    <title> {{title}} </title>
    {% include "head.html" %}   
</head>

<body>
    {% include "header.html" %}

    <div class='container'> 
        <table> 
            <tr> 
            {% for header in table_header %} 
                <td> {{header}} </td>
            {% endfor %}

            {% if 'students' in page_type %}
                
                {% for student in table_data %}
                    <tr>
                    {% for name, value in student.items() %}
                        {% if name == 'student_name' %} 
                            <td><a href="/view/student?id={{student['student_id']}}">{{ value }}</a></td>
                        {% elif name == 'class_name' %}
                            <td><a href="/view/class?id={{student['class_id']}}"> {{ value }}</a></td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}

            {% elif 'activities' in page_type %}
                {% for activity in table_data %}
                    <tr>
                    {% for name, value in activity.items() %}
                        {% if name == 'name' %} 
                            <td><a href="/view/activity?id={{activity['id']}}">{{ value }}</a></td>
                    
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>


    {% include "footer.html" %}
    </div>
</body>


    
</html>