<!DOCTYPE html> 
<html>
    <head>
    <title> {{title}} </title>
    {% include "head.html" %}   
    </head>

    <body>
        {% include "header.html" %}
        <div class='container'>
            <span class='highlight-blue'> {{span1}} </span>
            </br>
            <span class='highlight-red'> {{error}}</span>
            </br></br>
            <span> {{span2}} </span>

                
        {% if 'view' in page_type %}
            
        <form 
            action = "{{ form_meta['action'] }}"
            method = "{{ form_meta['method'] }}"
            >

        <table>
            {% for name, value in form_data.items() %}
            <tr>
                <td>
                    <label for= '{{ name }}'>
                    {{form_header[name]}}
                    </label>
                </td>

                <td>
                    <input id= '{{ name }}' type='text' name= '{{ name }}' value='{{ value }}' >
                </td>
            </tr>
            
            {% endfor %}

            <tr>
                <td colspan = "2" align = "right" >
                    <input type='submit' value='Submit'>
                    
                </td>
                
            </tr>
            
        </table>
        </form>
            
        {% elif 'success' in page_type %}
            </br>
            {% for name, value in form_data.items() %}
                {{form_header[name]}} : {{value}}
                 </br>
            {% endfor %}
            
            {% if 'student' in page_type %} <!-- This is for student -->
                <p> Activities participated in: </p>
                {%if activities != None %}
                    <table> 
                        <tr>
                        {% for header in activities[0].keys() %} 
                            <td> {{header}} </td>
                        {% endfor %}
                        </tr>
    
                        {% for activity in activities %}
                            <tr>
                            {% for name, value in activity.items() %}
                                {% if name == "name" %}
                                    <td> <a href="/view/activity?id=+{{activity['id']}}">{{value}}</a></td>
                                    
                                {% else %}
                                    <td>{{value}}</td>
                                {% endif %}
                            {% endfor %} 
                            </tr>
                        {% endfor %}
                                    
                    </table>
                
                {% else %}
                    <p> No activities found</p>
    
                {% endif %}

            {% endif %} <!-- End for student -->

            {% if 'class' in page_type %} <!-- This is for class -->
                <p> Class participated in: </p>
                {%if students != None %}
                    <table> 
                        <tr>
                        {% for header in students[0].keys() %} 
                            <td> {{header}} </td>
                        {% endfor %}
                        </tr>
    
                        {% for student in students %}
                            <tr>
                            {% for name, value in student.items() %}
                                {% if name == "name" %}
                                    <td> <a href="/view/student?id=+{{student['id']}}">{{value}}</a></td>
                                    
                                {% else %}
                                    <td>{{value}}</td>
                                {% endif %}
                            {% endfor %} 
                            </tr>
                        {% endfor %}
                                    
                    </table>
                
                {% else %}
                    <p> No class found</p>
    
                {% endif %}

            {% endif %} <!-- End for class -->

            {% if 'cca' in page_type %} <!-- This is for cca -->
                <p> Students in CCA: </p>
                {%if students != None %}
                    <table> 
                        <tr>
                        {% for header in students[0].keys() %} 
                            <td> {{header}} </td>
                        {% endfor %}
                        </tr>
    
                        {% for student in students %}
                            <tr>
                            {% for name, value in student.items() %}
                                {% if name == "name" %}
                                    <td> <a href="/view/student?id=+{{student['id']}}">{{value}}</a></td>
                                    
                                {% else %}
                                    <td>{{value}}</td>
                                {% endif %}
                            {% endfor %} 
                            </tr>
                        {% endfor %}
                                    
                    </table>
                
                {% else %}
                    <p> No CCA found</p>
    
                {% endif %}

            {% endif %} <!-- End for cca -->

            {% if 'activity' in page_type %} <!-- This is for activity -->
                <p> Students involved : </p>
                {%if students != None %}
                    <table> 
                        <tr>
                            
                        {% for header in students[0].keys() %} 
                            <td> {{header}} </td>
                        {% endfor %}
    
                        </tr>
    
                        {% for student in students %}
                            <tr>
                            {% for name, value in student.items() %}
                                {% if name == "name" %}
                                    <td> <a href="/view/student?id=+{{student['id']}}">{{value}}</a></td>
                                    
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                                
                            </tr>
                        {% endfor %}
                                    
                    </table>
                
                {% else %}
                    <p> No students found</p>
    
                {% endif %}

            {% endif %} <!-- End for activity -->

            
            
     
        {% endif %}
            

            
        {% include "footer.html" %}
        </div>
    </body>
    
</html>